{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 200
}
